header {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    @include phone {
        width: 100%;
        padding-left: 5%;
    }
    @include tablette {
        width: 100%;
        padding-left: 5%;
    }
}

nav {
    width: 40%;
    padding: 0;
    margin-right: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include phone {
        width: 75%;
    }
    @include tablette {
        width: 50%;
    }
}

.fa-shopping-cart {
    font-size: 1.8em;
    @include phone {
        font-size: 1.5em;
    }
}